@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
/* CSS Document */
@charset 'utf-8';
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/* elements */
html,button,input,select,textarea{font-family:'Open Sans',sans-serif}
body{font-size:15px;line-height:1.4;color:#b6e2ed;text-align:center;background:#000 url(../images/bg/01.png) top;}
a{color:#ff9900;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1,h2{font-weight: 300;line-height: 1;color: #008bb8;font-family: 'Open Sans Condensed',sans-serif;}
h1{font-size:36px;}
h2{font-size:28px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position:relative;list-style-type:none;padding:0 0 0 12px;margin:0;}
ul li:before,ul li .before{position:absolute;top:-2px;left:0;content:'\203a';*zoom: expression(this.runtimeStyle['zoom']='1',this.innerHTML='\203a');}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #004f5c;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{display: inline-block;background: #ee6600;color: #fff;text-shadow: 1px 1px 0 #000;text-decoration: none;padding:5px 16px;-webkit-transition: 0.5s;-moz-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
nav.more a:hover{background: #008bb8;}
table.normal{margin:0 0 20px 0;width:100%;}
table.normal th,table.normal td{padding:6px 8px;border:1px solid #000;font-weight:normal;background:rgba(255,255,255,0.2);}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:rgba(255,255,255,0.13);}
table.normal th,table.normal thead td{font-weight:normal;color:#fff!important;background:rgba(255,255,255,0.3)!important;}
table.normal tfoot td{background:rgba(255,255,255,0.3)!important;}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border:1px solid #000;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:10px 10px;color:#fff;background:#222;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
form.normal input.input-mini{width:32px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small{width:125px;}
form.normal input.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:9px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{border-color:#004f5c;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:0;margin:0 0 5px 0;padding:0;border:0;height:38px;padding:0 15px;color:#fff;text-shadow: 1px 1px 0 #000;text-align:center;overflow:visible;font-size:13px;background:#ee6600;cursor:pointer;white-space:nowrap;text-transform:uppercase;font-weight:normal;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
a.normal-button{display:inline-block;text-decoration:none;line-height:38px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color:#008bb8;}
.search-results .highlight,.results .highlight{background:yellow;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;border-top: 1px solid #ee6600;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:25px;height:25px;line-height:25px;text-align:center;text-decoration:none;font-size:16px;color:#fff;text-shadow: 1px 1px 0 #000;background:#ee6600;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.pagehub span.pagenav{background:#008bb8;}
.pagehub a:hover{background:#008bb8;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;background:#ee6600;margin:0 0 20px 0;height:4px;overflow:hidden;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{border:1px solid #ee6600;padding: 3px;}
a.xeditorpopup:hover img{border-color:#008bb8;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 12px;display:inline;background-position:left;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;background:none;}
#system-message .message ul li:before, #system-message .message ul li .before{display: none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;background-color:rgba(255,255,255,0.1);border:1px solid #008bb8;}
#system-message .notice{border-color:#ee6600;color:#ee6600;}
#system-message .warning,#system-message .error{background-color:#ee6600;border-color:#ee6600;color:#fff;}
#system-message .warning a,#system-message .error a{color:#fff;}
/* skype prevent */
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
/* bg-homepage */
#bg-homepage{min-width: 960px;min-height: 1200px;padding: 0 0 50px;background: url(../images/bg/02.png) repeat-x top;}
/* home-header */
#home-header{padding: 70px 0 0;height: 296px;min-width: 960px;}
#home-header h1{margin: 0;padding: 0;}
#home-header h1 a{position: relative;display: block;width: 298px;height: 298px;margin: 0 auto;text-indent: -9999px;background: url(../images/logo/01.png) no-repeat;}
/* container */
#container{*zoom:1;margin: 0 auto;width: 940px;padding: 0 20px;text-align: left;}
#container:before,#container:after{display:table;content:"";}
#container:after{clear:both;}
#content{*zoom:1;margin: 0 0 50px;}
#content:before,#content:after{display:table;content:"";}
#content:after{clear:both;}
#col-main{width: 500px;float: left;}
#col-right{width:200px;float: right;}
#bg-image{background: url(../images/bg/12.jpg) no-repeat bottom;}
/* page-header */
#page-header{*zoom:1;min-width: 980px;margin: 0 0 45px;background: url(../images/bg/07.png) repeat-x top;}
#page-header:before,#page-header:after{display:table;content:"";}
#page-header:after{clear:both;}
#page-header .logo{float: left;width: 240px;padding: 5px 0 0;position: relative;}
#page-header .logo:before{position: absolute;z-index: 0;content: '';top:0;left: 0;width: 392px;height: 392px;background: url(../images/bg/09.png) no-repeat right bottom;}
#page-header .logo img{position: relative;z-index: 1;}
#page-header .logo-right{float: right;width: 240px;padding: 5px 0 0;position: relative;}
#page-header .logo-right:before{position: absolute;z-index: 0;content: '';top:0;right:0;width: 392px;height: 392px;background: url(../images/bg/09.png) no-repeat left bottom;}
#page-header .logo-right img{position: relative;z-index: 1;}
/* mods */
.mod_custom-home{width: 920px;padding: 0 20px;margin: 0 auto 93px;}
.mod_custom-home .mainmenu{clear: both;*zoom:1;position: relative;z-index: 1;padding: 0;margin: 0 0 27px;background: url(../images/bg/04.png) no-repeat center 76px;}
.mod_custom-home .mainmenu:before,.mod_custom-home .mainmenu:after{display:table;content:"";}
.mod_custom-home .mainmenu:after{clear:both;}
.mod_custom-home .mainmenu li{margin: 0 5px;padding: 0;display: inline;}
.mod_custom-home .mainmenu li:before,.mod_custom-home .mainmenu li .before{display: none;}
.mod_custom-home .mainmenu li a{position: relative;display: inline-block;width: 187px;height: 156px;font-weight: 300;font-size: 21px;line-height: 1.5;color: #b6e2ed;text-decoration: none;text-transform: uppercase;font-family: 'Open Sans Condensed',sans-serif;background: url(../images/btn/01.png) no-repeat;-webkit-transition: 0.8s;-moz-transition: 0.8s;-o-transition: 0.8s;transition: 0.8s;}
.mod_custom-home .mainmenu li a span{position: relative;z-index: 1;display: table-cell;vertical-align: middle;width: 127px;height: 156px;padding: 0 30px;}
.mod_custom-home .mainmenu li a:before,.mod_custom-home .mainmenu li a .before,
.mod_custom-home .mainmenu li a .act{position: absolute;content: '';top:0;left: 0;width: 100%;height: 100%;background: url(../images/btn/01.png) no-repeat 0 -156px;-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter:alpha(opacity=0);-webkit-transition: 0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.mod_custom-home .mainmenu li a:hover:before,.mod_custom-home .mainmenu li a:hover .before{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=1);}
.mod_custom-home .mainmenu li a .act{background: url(../images/btn/01.png) no-repeat 0 -312px;-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=1);}
.mod_custom-home .submenu{display: none;position: relative;margin: -110px 0 25px;padding: 0;background: url(../images/bg/03.png) no-repeat bottom;}
.mod_custom-home .submenu.active{display: block;}
.mod_custom-home .submenu.submenu-01:before{position: absolute;content: '';right:50%;top:71px;width: 197px;height: 18px;border-bottom: 1px solid #00505d;border-left: 1px solid #00505d;border-right: 2px solid transparent}
.mod_custom-home .submenu.submenu-02:before{position: absolute;content: '';left:50%;top:71px;width: 1px;height: 18px;background: #00505d;}
.mod_custom-home .submenu.submenu-03:before{position: absolute;content: '';left:50%;top:71px;width: 202px;height: 18px;border-bottom: 1px solid #00505d;border-right: 1px solid #00505d;}
.mod_custom-home .submenu li{position: relative;margin: 0 -1px;padding: 102px 0 20px 0;display: inline-block;}
.mod_custom-home .submenu li.logo{padding-left: 40px;padding-right: 40px;}
.mod_custom-home .submenu li:before, .mod_custom-home .submenu li .before{position: absolute;top: 89px;right: 50%;margin-left: -61px;content: '';width: 101%;height: 19px;border-top: 1px solid #00505d;border-right: 1px solid #00505d;}
.mod_custom-home .submenu li.logo:before, .mod_custom-home .submenu li.logo .before{margin-left: -100px;}
.mod_custom-home .submenu li:first-child:before, .mod_custom-home .submenu li:first-child .before{border-top: none;}
.mod_custom-home .submenu li a{position: relative;display: inline-block;font-weight: 300;font-size: 18px;line-height: 1.5;color: #b3b5b5;text-decoration: none;text-transform: uppercase;overflow: hidden;font-family: 'Open Sans Condensed',sans-serif;background: url(../images/btn/02.png) no-repeat;-webkit-transition: 0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.mod_custom-home .submenu li.logo a{background: none;}
.mod_custom-home .submenu li a:hover{color: #fff;}
.mod_custom-home .submenu li a span{*zoom:1;position: relative;display: block;z-index: 1;width: 120px;height: 120px;display: table-cell;vertical-align: middle;}
.mod_custom-home .submenu li a:before,.mod_custom-home .submenu li a .before{position: absolute;content: '';top:0;left: 0;width: 100%;height: 100%;background: url(../images/btn/02.png) no-repeat 0 -120px;-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter:alpha(opacity=0);-webkit-transition: 0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.mod_custom-home .submenu li.logo a:before,.mod_custom-home .submenu li.logo a .before{display: none;}
.mod_custom-home .submenu li a:hover:before,.mod_custom-home .submenu li a:hover .before{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=1);}
.mod_custom-home .submenu li.logo a span{width: auto;height: auto;}
.mod_custom-home .submenu li a img{-webkit-transition: 0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;transition: 0.4s;}
.mod_custom-home .submenu li a:hover img{-webkit-opacity: 0.6;-moz-opacity: 0.6;opacity: 0.6;filter:alpha(opacity=60);}
.mod_custom-home .submenu li a span:before,.mod_custom-home .submenu li a span:after{display:table;content:"";}
.mod_custom-home .submenu li a span:after{clear:both;}
.mod_mainmenu{position: relative;z-index: 999;margin: 0 240px;padding: 70px 0;}
.mod_mainmenu:before,.mod_mainmenu:after{position: absolute;content: '';top:50%;left:0;width: 36px;min-height: 205px;margin-top: -102px;background: url(../images/bg/10.png) no-repeat;}
.mod_mainmenu:after{left: auto;right:0;background-position: right;}
.mod_mainmenu .mod-inner{position: relative;margin: -150px 0;padding: 150px 0;min-height: 100px;text-align: center;overflow: hidden;-webkit-border-radius: 200px;-moz-border-radius: 200px;border-radius: 200px;background: url(../images/bg/08.png) repeat-x center;}
.mod_mainmenu>.mod-inner>ul{position: relative;z-index: 1;margin: 0;padding: 0 50px;}
.mod_mainmenu>.mod-inner>ul>li,.mod_mainmenu>.mod-inner>ul>li>ul>li{position: relative;margin: 0 -7px;padding: 0 0 10px;float: left;}
.mod_mainmenu>.mod-inner>ul>li>ul>li{left:-8px;margin: 0;padding: 10px 0;}
.mod_mainmenu ul li:before,.mod_mainmenu ul li .before{display: none;}
.mod_mainmenu>.mod-inner>ul>li>a,.mod_mainmenu>.mod-inner>ul>li>ul>li>a{position: relative;display:block;float: left;color: #b6e2ed;text-transform: uppercase;font-weight: 300;text-decoration: none;white-space: normal;font-family: 'Open Sans Condensed',sans-serif;background: url(../images/btn/03.png) no-repeat;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>a{background-image: url(../images/btn/04.png);}
.mod_mainmenu>.mod-inner>ul>li>a:hover,.mod_mainmenu>.mod-inner>ul>li>ul>li>a:hover{color: #ff9900;}
.mod_mainmenu>.mod-inner>ul>li.act>a,.mod_mainmenu>.mod-inner>ul>li>ul>li.act>a{color: #ff9900;}
.mod_mainmenu>.mod-inner>ul>li>a>span,.mod_mainmenu>.mod-inner>ul>li>ul>li>a>span{position: relative;z-index: 99;display: table-cell;vertical-align: middle;font-size: 16px;line-height: 1.3;width: 100px;height: 108px;padding: 0 15px;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>a>span{width: 70px;height: 86px;padding: 0 8px;font-size: 14px;}
.mod_mainmenu>.mod-inner>ul>li>a:before,.mod_mainmenu>.mod-inner>ul>li>ul>li>a:before{position: absolute;content: '';top: 0;left:0;width: 130px;height: 108px;background: url(../images/btn/03.png) no-repeat 0 -108px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter:alpha(opacity=0);}
.mod_mainmenu>.mod-inner>ul>li>ul>li>a:before{width: 86px;height: 86px;background: url(../images/btn/04.png) no-repeat 0 -86px;}
.mod_mainmenu>.mod-inner>ul>li.act>a:before,.mod_mainmenu>.mod-inner>ul>li>ul>li.act>a:before{background-position: 0 -216px;-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=100);}
.mod_mainmenu>.mod-inner>ul>li>ul>li.act>a:before{background-position: 0 -172px;}
.mod_mainmenu>.mod-inner>ul>li>a:hover:before,.mod_mainmenu>.mod-inner>ul>li>ul>li>a:hover:before{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=100);}
.mod_mainmenu>.mod-inner>ul>li>ul{float: left;margin: 0;padding: 0;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul{display: none;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul{*zoom:1;display: none;position: absolute;z-index: 999;top:100%;left: 3px;margin: 0;padding: 12px 20px;max-width: 300px;border: 1px solid #014961;background: #000;text-align: left;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul:before{position: absolute;content: '';left: 39px;bottom: 100%;height: 13px;width: 1px;background: #014961;}
.mod_mainmenu>.mod-inner>ul>li>ul>li:hover>ul{display: block;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul:before,.mod_mainmenu>.mod-inner>ul>li>ul>li>ul:after{display:table;content:"";}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul:after{clear:both;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul>li{margin: 0 5px;padding: 0;display: inline;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul>li:before,.mod_mainmenu>.mod-inner>ul>li>ul>li>ul>li>.before{display: none;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul>li>a{color: #b6e2ed;font-size: 14px;text-decoration: none;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul>li>a:hover{text-decoration: underline;}
.mod_mainmenu>.mod-inner>ul>li>ul>li>ul>li.act>a{color: #ff9900;}
.mod_custom-eshop-items .mod-title{font-weight: 300;font-size: 36px;line-height: 1;margin: 0 0 50px;color: #008bb8;font-family: 'Open Sans Condensed',sans-serif;}
.mod_custom-eshop-items .row-items{*zoom:1;margin: 0 -10px;}
.mod_custom-eshop-items .row-items:before,.mod_custom-eshop-items .row-items:after{display:table;content:"";}
.mod_custom-eshop-items .row-items:after{clear:both;}
.mod_custom-eshop-items .item{float: left;width: 220px;margin: 0 10px 80px;}
.mod_custom-eshop-items .item h2{font-weight: 300;font-size: 30px;line-height: 1;color: #b6e2ed;margin: 0 0 9px;text-transform: uppercase;text-align: center;font-family: 'Open Sans Condensed',sans-serif;}
.mod_custom-eshop-items .item figure{position: relative;display: block;height: 233px;padding: 20px 10px 0 10px;background: url(../images/bg/06.png) no-repeat;}
.mod_custom-eshop-items .item figure img{-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-eshop-items .item figure a:hover img{-webkit-box-shadow: 0 0 80px #006171;-moz-box-shadow: 0 0 80px #006171;box-shadow: 0 0 80px #006171;}
.mod_custom-eshop-items .item figure .label{position: absolute;top: 23px;right:0;height: 60px;width: 60px;line-height: 60px;text-align: center;white-space: nowrap;text-transform: uppercase;font-size: 16px;color: #fff;font-weight: bold;background: #ee6600;font-family: 'Open Sans Condensed',sans-serif;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.mod_custom-eshop-items .item figure .label.normal{background: #006e87;}
.mod_custom-eshop-items .item .price{width: 100%;}
.mod_custom-eshop-items .item .price th,.mod_custom-eshop-items .item .price td{vertical-align: bottom;padding:0 0 10px;}
.mod_custom-eshop-items .item .price th{font-size: 13px;line-height: 1;font-weight: normal;color: #5b7278;padding-left: 10px;}
.mod_custom-eshop-items .item .price td{font-size: 24px;line-height: 1;color: #5b7278;text-align: right;white-space: nowrap;padding-right: 10px;font-family: 'Open Sans Condensed',sans-serif;}
.mod_custom-eshop-items .item .price .highlight th{color: #b6e2ed;}
.mod_custom-eshop-items .item .price .highlight td{font-size: 28px;color: #008bb8;}
.mod_custom-eshop-items .item .price .highlight td mark{color: #ee6600;background: none;}
.mod_custom-rezervace{position: relative;text-align: center;font-size: 16px;font-family: 'Open Sans Condensed',sans-serif;text-transform: uppercase;}
.mod_custom-rezervace:before{position: absolute;z-index: 99;content: '';left:0;top:0;width: 62px;height: 62px;background: url(../images/ico/01.png) no-repeat;}
.mod_custom-rezervace .mod-in{position: relative;overflow: hidden;background: #ee6600;width: 200px;height: 145px;padding: 55px 0 0;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;}
.mod_custom-rezervace mark{display: block;margin: 0 auto;background: none;font-size: 35px;line-height: 1;font-weight: bold;color: #fff;margin: 0 0 15px;text-shadow:-1px -1px 0 #000;white-space: nowrap;}
.mod_custom-rezervace nav a{position: relative;display: block;color: #4a1f00;background: #c25300;font-size: 18px;line-height: 1;font-weight: bold;text-decoration: none;width: 100px;height: 200px;padding: 20px 50px 0;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.mod_custom-rezervace nav a:hover{background: #fff;}
/* footer */
#page-footer{padding-bottom: 50px;}
.mod_menu-footer-home,.mod_menu-footer{min-width: 960px;border-top: 1px solid #00323b;}
.mod_menu-footer-home ul,.mod_menu-footer ul{margin: 0;width: 920px;padding: 20px 20px;margin: 0 auto;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4OTVhNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU4OTVhNyIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODk1YTciIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  rgba(88,149,167,0) 0%, rgba(88,149,167,0.05) 50%, rgba(88,149,167,0) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(88,149,167,0)), color-stop(50%,rgba(88,149,167,0.05)), color-stop(100%,rgba(88,149,167,0)));background: -webkit-linear-gradient(left,  rgba(88,149,167,0) 0%,rgba(88,149,167,0.05) 50%,rgba(88,149,167,0) 100%);background: -o-linear-gradient(left,  rgba(88,149,167,0) 0%,rgba(88,149,167,0.05) 50%,rgba(88,149,167,0) 100%);background: -ms-linear-gradient(left,  rgba(88,149,167,0) 0%,rgba(88,149,167,0.05) 50%,rgba(88,149,167,0) 100%);background: linear-gradient(to right,  rgba(88,149,167,0) 0%,rgba(88,149,167,0.05) 50%,rgba(88,149,167,0) 100%);}
.mod_menu-footer-home ul li,.mod_menu-footer ul li{margin: 0 15px;padding: 0;display: inline;font-size: 14px;}
.mod_menu-footer-home ul li:before,.mod_menu-footer ul li:before, .mod_menu-footer-home ul li .before,.mod_menu-footer ul li .before{display: none;}
.mod_menu-footer-home ul li a,.mod_menu-footer ul li a{color: #b6e2ed;text-decoration: none;}
.mod_menu-footer-home ul li a:hover,.mod_menu-footer ul li a:hover{text-decoration: underline;}
#home-footer .copy,#page-footer .copy{width: 920px;padding: 22px 20px 10px 20px;margin: 0 auto;font-size: 11px;color: #00dbff;text-transform: uppercase;background: url(../images/bg/05.png) no-repeat top;}
